 @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;600;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');

body{
  padding: 0;
  margin: 0;
  direction: rtl;
  background-color: #f5f5f5;
 font-family: 'Almarai', sans-serif;
}
body::-webkit-scrollbar{
  width: 0;
  height: 0;
}
header{
  width: 100%;
  display: flex;
 justify-content: space-between;
  align-items: center;
  height: 7vh;
background-color: #ffffff;
  padding: 1vh 0;

}
.logo{
  display: flex;
  height: 100%;
  width: 30%;
  align-items: center;


}
header img{
  display: flex;
  height: 100%;
  /* margin-left: 0.4vw; */
  margin: 0 0.4vw;
  
  

}
.logo a {
text-decoration: none;
color: black;
}
.logo h1{
  font-size: 1.7rem;
  margin-top: 0.4em;
}
nav{
  display: flex;
  gap:15%;
  width: 70%;
  align-items: center;


}
nav a{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  padding: 1vh;
  border-radius: 8px;
transition: background-color 0.2s;
}
nav a:hover{
  background-color: #b95a02;
  color: white;
  
}
.main{
position: relative;
width: 100%;
  height: 93vh;
 display: flex;
    overflow: hidden; 
}
.main img{
  width: 100%;
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;

}
.footer {
  width: 100%;
  display: flex;
align-items: center;
justify-content: center;
  font-size: 14px;
  background-color:rgb(255, 255, 255);
  color: #454444;
  padding: 6px;
  height: 20px;
  
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    padding: 30px 20px;
    text-align: center;
  }
}
@media(max-width :700px){
  nav a{
  font-size: 1rem;
  font-weight: 500;

}

}
.tripoli{
position: absolute;
width: 5vw;
height: 12vh;
top:32vh;
opacity: 0;
right: 59.5vw;
background-color: rgba(165, 42, 42, 0.502);
}
.libda{
position: absolute;
width: 7vw;
height: 9vh;
top:33vh;
opacity: 0;
right: 51.5vw;
background-color: rgba(165, 42, 42, 0.502);
}
.east{
position: absolute;
width: 7vw;
height: 11vh;
top: 34vh;
opacity: 0;
right: 36vw;
background-color: rgba(165, 42, 42, 0.523);
}
.south{
position: absolute;
width: 8vw;
height: 9vh;
top: 51vh;
opacity: 0;
right: 44.5vw;
background-color: rgba(165, 42, 42, 0.557);
}
.gadams{
position: absolute;
width: 9vw;
height: 10.5vh;
top: 45vh;
opacity: 0;
right:62vw;
background-color: rgba(165, 42, 42, 0.557);
}